---
// Credit to @rachsmithcodes for this function
export async function getStaticPaths() {
	let posts = await Astro.glob(`../../posts/*.md`);

	return posts.map((post) => {
		return {
			params: { slug: post.frontmatter.slug },
			props: { post: post },
		};
	});
}

const { post } = Astro.props;
const { Content } = post;



// Assuming this script block is at the top of your.astro file

const siteUrl = 'https://glsl.site/'; // Replace with your actual site URL
const canonicalUrl = `${siteUrl}/${post.frontmatter.slug}`; // Construct the canonical URL
---
<!-- <Content /> -->

<html>
<head>
    <title>{post.frontmatter.title}</title>
    <!-- Other meta tags -->
    <link rel="canonical" href={canonicalUrl} />
</head>
<body>
    <Content />
</body>
</html>



