---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} GLSL. <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">This blog is open source  </a><a href="https://www.buymeacoffee.com/HaiderAftab">BuyMeCoffe</a>! <3
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
